html
	head
		script(src='/js/jquery-3.1.1.min.js')
		script.
			$(document).ready(function() {
				$('#submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault()
						$('#error-message').html('Your username or password is empty.')
					}
				})
				$('#signup').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0 || $('#name').val().trim().length === 0) {
						event.preventDefault()
						$('#error-message').html('Please make sure you\'ve filled out all required fields')
					}
				})
			})
	body
		if user
			a(href='/home') view profile
			br
			a(href='/logout') log out
			br
			h4 Air your laundry:
			form(action='/blogpost' , method='post', autocomplete='off')
				label title
				br
				input#title(name='title', required)
				br
				label body
				br
				textarea#body(name='laundry', type='text', rows='10' cols='50' required)
				input#create(type='submit', value='post')

		else
			form(action='/login' && '/signup', method='post', autocomplete='off')
				label email
				br
				input#email(name='email', required)
				br
				label password
				br
				input#password(name='password', type='password', required)
				input#submit(type='submit',formaction='/login', value='login')
				br
				br
				label username
				br
				input#name(name='name')
				input#signup(type='submit', formaction='/signup' value='sign up')
		h2#error-message= message