html
	head
		script(src='/js/jquery-3.1.1.min.js')
		script.
			$(document).ready(function() {
				$('#submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault()
						$('#error-message').html('Your username or password is empty.')
					}
				})
			})
	body
		if user
			a(href='/home') view profile
			br
			a(href='/logout') log out

		else
			form(action='/login' && '/signup', method='post')
				label email
				input#email(name='email', required)
				label password
				input#password(name='password', required)
				input#submit(type='submit',formaction='/login', value='login')
				label name
				input#name(name='name')
				input#signup(type='submit', formaction='/signup' value='sign up')
		h2#error-message= message