html
	head
	body
		h1 AWESOME FINANCIAL PLANNING APP!
		h2 Answer these questions to predict your financial future!
		form( method="POST", action="/index", name="_method", value="PUT" )
			p Who is gracing me with his or her presence?
				input( type="text", name="name" )
			p How many years have you been on this earth?
				input( type="number", name="age" )
			p How much dough are you initially investing?
				input( type="number", name="number")
			p What will you be able to spare each month?
				input( type="number", name="number")
			p At what age do you plan to throw in the towel?
				input( type="number", name="age")

